In [1]:
# Python 2 notebook for exploring and understanding the data

In [2]:
import pandas as pd
import numpy as np

In [7]:
factor_data = pd.read_csv("stock_data/factor_data.csv")
ticker_data = pd.read_csv("stock_data/ticker_data.csv")

In [8]:
factor_data.head()

,VIX,COPP,3M_R,US_TRY,BIG_IX,SMALL_IX,SENTI,TEMP,RAIN,OIL,timestep
0,15.000000,90.000000,0.060000,0.270000,100.000000,100.000000,80.000000,74.819656,0.639413,65.000000,0
1,14.458574,98.095646,0.060474,0.269558,99.595377,99.623765,79.035163,72.808788,0.173868,72.594727,1
2,14.023697,91.706222,0.060615,0.269159,99.208056,99.249246,78.287603,73.285432,0.814486,67.663561,2
3,14.429497,85.731487,0.060333,0.264040,99.780371,99.628927,79.847429,79.046248,0.400980,79.658158,3
4,14.818531,93.597128,0.060188,0.260119,100.401161,100.195401,80.655441,76.964039,0.754570,77.026123,4

In [18]:
print "There are " + str(ticker_data.ticker.nunique()) + " unique stocks and " + str(ticker_data.shape[0]) + " total observations"
ticker_data.head()

There are 1000 unique stocks and 2520000 total observations

   index industry    market_cap        pb  returns  ticker  timestep
0      1     TECH  1.086531e+11  0.910461      NaN       0         0
1      2     TECH  1.767600e+11  1.941031      NaN       1         0
2      3     TECH  5.787564e+10  3.705055      NaN       2         0
3      4     TECH  7.896000e+10  3.868566      NaN       3         0
4      5     TECH  1.362184e+11  4.466850      NaN       4         0

Output will have to be the weights of the stocks we want in our portfolio.  
- Will be a vector of length 1000 * days

Things we want captured in our features
- Correlations between different tickers
- Correlations between tickers and events
- Change in ticker values from day before (as percent)

We want to merge these two datasets and do some basic feature engineering.

In [ ]:
all_data = pd.join